<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Fun node projects for freecodecamp.org:</h1>
         <h3>1. Micro-Timestamp:</h3>
         <p> the url route is at /getdate/:date where date is a number or "YYYY-MM-DD" provided format</p>
         <h3>2. Request Header Parser:</h3>
         <p> the url route is at /computerinfo, provides request header info</p>
         <h3>3. URL Shortener:</h3>
         <p> the url route is at /new_url/:url, creates a new url to that page on this website.</p>
      </div>
   </body>

</html>
